* {
    font-family: 'JetBrains mono';
    font-size: 14px;
	
 }

window {
    margin: 1px;
    border: 1px solid rgb(205, 214, 244);
    background-color: rgb(205, 214, 244);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: 2px solid rgb(24, 24, 37);
	color: rgb(205, 214, 244);
    background-color: rgb(24, 24, 37);
}

#inner-box {
    margin: 5px;
    border: 2px solid rgb(24, 24, 37);
	color: rgb(255, 255, 255); 
}

#outer-box {
    margin: 5px;
    border: 2px solid rgb(30, 30, 46);
    background-color: rgb(30, 30, 46);
    border-radius: 10px;
}

#scroll {
    margin: 5px;
    border: 2px solid rgb(24, 24, 37);
    background-color: rgb(24, 24, 37);
    border-radius: 10px;
}

#text {
    margin: 5px;
    border-radius: 10px;
}
